@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

<!DOCTYPE html>
<html>
<head>
	<title>Asset Management System</title>
	<style type="text/css">
		body {
			background-color: #1E1E1E;
			font-family: arial;
		}

		.line-1 {
			color: orange;
			font-size: 80px;
			font-weight: bolder;
			position: absolute;
			margin-left: 300px;
		}

		.line-2 {
			color: orange;
			font-size: 80px;
			font-weight: bolder;
			position: absolute;
			margin-left: 200px;
			margin-top: 150px;
		}

		.line-3 {
			color: orange;
			font-size: 80px;
			font-weight: bolder;
			position: absolute;
			margin-left: 280px;
			margin-top: 230px;
		}

		.login-container {
			width: 500px;
			height: 600px;
			margin-left: 800px;
			margin-top: 20px;
			background-color: #2F2F2F;
			border-radius: 15px;
			box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
		}

		.username {
			padding-top: 5px;
			margin-left: 20px;
		}

			.username h2 {
				font-size: 35px;
				color: white;
			}

			.username input {
				height: 40px;
				width: 430px;
				font-size: 20px;
				padding-left: 20px;
				border-radius: 8px;
				border: solid gray;
				border-width: 1px;
			}

		.password {
			padding-top: 10px;
			margin-left: 20px;
		}

			.password h2 {
				font-size: 35px;
				color: white;
			}

			.password input {
				height: 40px;
				width: 430px;
				font-size: 20px;
				padding-left: 20px;
				border-radius: 8px;
				border: solid gray;
				border-width: 1px;
			}

		.btnRegister {
			height: 50px;
			width: 460px;
			margin-left: 20px;
			margin-top: 30px;
			border-radius: 8px;
			border-width: 1px;
			background-color: blue;
			color: white;
			border-color: blue;
			font-size: 25px;
		}

			.btnRegister p {
				text-align: center;
				padding-top: 10px;
			}

			.btnRegister:hover {
				cursor: pointer;
				background-color: darkblue;
				border-color: darkblue;
				font-size: 25px;
			}

			.btnRegister:active {
				background-color: #000065;
			}

		.link {
			text-align: center;
			color: white;
			margin-top: 20px;
		}

			.link a {
				text-decoration: none;
				color: white;
			}

				.link a:hover {
					font-weight: bolder;
					color: white;
				}
	</style>
</head>
<body>
	<p class="line-1">Asset</p>
	<p class="line-2">Management</p>
	<p class="line-3">System</p>
	<div class="login-container">
		<div class="username">
			<h2>Username</h2>
			<input type="text" name="" placeholder="Enter your username">
		</div>
		<div class="password">
			<h2>Password</h2>
			<input type="password" name="" placeholder="Enter your password">
		</div>
		<div class="password">
			<h2>Confirm Password</h2>
			<input type="password" name="" placeholder="Enter your password">
		</div>
		<div class="btnRegister">
			<p>Register</p>
		</div>
		<div class="link">
			<p>Already have an account? <a href="">Login here</a></p>
		</div>
	</div>
</body>
</html>
